---
export interface Props {
    title: string;
    desc: string;
    href: string;
    image: string;
    alt: string;
    date: string;
    author: string;
}

const {image, alt, href, title, desc, date, author} = Astro.props;
---


    <div class='card relative block'>
        <div class="image-wrapper w-full relative">
            <img src={image} class="object-cover object-top w-full h-full" alt="..."/>
        </div>
        <div class="px-0 py-6">
            <div class="font-bold text-xl mb-2">
                <h2 class="text-2xl inline tracking-tighter leading-tight">{title}</h2>
                <p class="text-2xl inline tracking-tighter font-light text-gray-500">{desc}</p>
            </div>
            <div class="meta flex items-center justify-start mt-7">
                <div class="author flex items-center flex-wrap text-[0.765rem] font-medium"><span
                        class="mr-1 text-xs font-light">by</span>{author}</div>

                <div class="date text-[0.765rem] font-medium before:content-[''] before:w-[1rem] before:h-[1px] before:mx-[0.5rem] before:bg-gray-400 flex items-center flex-wrap">{date}</div>
            </div>
        </div>
        </div>


